/SEP3.sln


path/to/Application2/
Domain/obj/Debug/net7.0/
Domain/obj/
Application/obj/Debug/net7.0/
Application/obj/
Blazor/obj/Debug/net7.0/
Blazor/obj/
FileData/obj/Debug/net7.0/
FileData/obj/
HttpClients/obj/Debug/net7.0/
HttpClients/obj/
WebApi/obj/Debug/net7.0/
WebApi/obj/
rider.project.model.nuget.info
.idea/.idea.SEP3/.idea/workspace.xml
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Application.csproj.nuget.g.props
Application/obj/Debug/net7.0/Application.assets.cache
Application/obj/Debug/net7.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net7.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Application/obj/project.packagespec.json
Blazor/obj/Blazor.csproj.nuget.dgspec.json
Blazor/obj/Blazor.csproj.nuget.g.props
Blazor/obj/Debug/net7.0/Blazor.assets.cache
Blazor/obj/project.assets.json
Blazor/obj/project.nuget.cache
Blazor/obj/project.packagespec.json
Domain/obj/Debug/net7.0/Domain.assets.cache
Domain/obj/Debug/net7.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Domain/obj/project.packagespec.json
FileData/obj/Debug/net7.0/FileData.assets.cache
FileData/obj/Debug/net7.0/FileData.GeneratedMSBuildEditorConfig.editorconfig
FileData/obj/FileData.csproj.nuget.dgspec.json
FileData/obj/FileData.csproj.nuget.g.props
FileData/obj/project.assets.json
FileData/obj/project.nuget.cache
FileData/obj/project.packagespec.json
HttpClients/obj/Debug/net7.0/HttpClients.assets.cache
HttpClients/obj/Debug/net7.0/HttpClients.GeneratedMSBuildEditorConfig.editorconfig
HttpClients/obj/HttpClients.csproj.nuget.dgspec.json
HttpClients/obj/HttpClients.csproj.nuget.g.props
HttpClients/obj/project.assets.json
HttpClients/obj/project.nuget.cache
HttpClients/obj/project.packagespec.json
WebApi/obj/Debug/net7.0/WebApi.assets.cache
WebApi/obj/Debug/net7.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
WebApi/obj/project.assets.json
WebApi/obj/project.nuget.cache
WebApi/obj/project.packagespec.json
WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/obj/WebApi.csproj.nuget.g.targets
*.dll





*.pdb
