@using Blazor.Auth
@inherits LayoutComponentBase
@inject IAuthService authService

<PageTitle>Blazor</PageTitle>

<div class="page">
    <div class="sidebar">
        @if (authService is JwtAuthService jwtAuthService)
        {
            if (jwtAuthService.LoggedInUserType == JwtAuthService.UserType.Student)
            {
                <NavMenuStudent />
            }
            else if (jwtAuthService.LoggedInUserType == JwtAuthService.UserType.Teacher)
            {
                <NavMenuTeacher />
            }
        }
        else
        {
            <p>Unable to access the LoggedInUserType property.</p>
        }
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
