@page "/CreateExam"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IExamService examService;
<div class="container mt-5">
    <h1 class="text-center mb-4">CREATE EXAM</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="examName" class="form-label">Name of the exam:</label>
                            <input type="text" class="form-control" id="examName" @bind="name">
                        </div>
                        <div class="mb-3">
                            <label for="dateTime" class="form-label">Date & time:</label>
                            <input type="text" class="form-control" id="dateTime" @bind="dateTime">
                        </div>
                        <div class="mb-3">
                            <label for="class" class="form-label">Class:</label>
                            <select class="form-select" id="class">
                                <option>SDJ3</option>
                            </select>
                        </div>
                        <button @onclick="CreateClass" type="submit" class="btn btn-primary">Create Exam</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Exams</h5>
                    <div class="row">
                        <div class="col-6">
                            <div class="subject">
                                <p>SDJ3</p>
                                <p>NES</p>
                                <p>CAO</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dates">
                                <p>01.01.2024, 09:00</p>
                                <p>01.01.2024, 10:00</p>
                                <p>01.01.2024, 12:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string name = " ";
    private string dateTime = "";
    private int grade;
    private string resultMsg = "";
    private string color = " ";

    private async Task CreateClass()
    {
        resultMsg = "";

        try
        {
            var dto = new ExamCreationDto(name, dateTime);
            await examService.CreateExam(dto);
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
            resultMsg = e.Message;
            color = "red";
        }
    }

}