.create-class{
    background-color: #C2F9D1;
    height: 400px;
    width: 300px;
}
.list-of-classes{
    background-color: #87D39C;
    height: 400px;
    width: 300px;
    margin-left: 15px;
}
.teacher{
    margin-top: 15px;
}
div{
    margin-top: 15px;

}
.subject{
    margin-left: 15px;
}
div.create-class{
    padding: 15px;
}
