@page "/CreateClass"
<h1>CREATE CLASS</h1>
<div class="d-flex">
  <div class="d-flex create-class">
    <div><label>Name of the class</label>
             <input/>
    
    <div class="teacher">
      <label for="teacher">Teacher:</label>
      <select name="teacher" id="teacher">
        <option value="Allan">Allan</option>
        <option value="Jan">Jan</option>
        <option value="Mona">Mona</option>
        <option value="Lars">Lars</option>
      </select>
      <br><br>


      <div class="student">
        <label for="student">Student:</label>
        <select name="student" id="student">
          <option value="ViaId1">333469</option>
          <option value="ViaId2">333000</option>
          <option value="ViaId3">222222</option>
          <option value="ViaId4">111110</option>
        </select>
        <br><br>
      </div>
</div>
    </div>
  </div>
<div class="d-flex list-of-classes">
  <div class="subject">
    <p>SDJ3</p>
    <p>NES</p>
    <p>CAO</p>
          
  </div>
</div>
</div>
@code {

}