@page "/CreateClass"
<div class="container mt-5">
    <h1 class="text-center mb-4">CREATE CLASS</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="className" class="form-label">Name of the class:</label>
                            <input type="text" class="form-control" id="className">
                        </div>
                        <div class="mb-3">
                            <label for="teacher" class="form-label">Teacher:</label>
                            <select class="form-select" id="teacher">
                                <option value="Allan">Allan</option>
                                <option value="Jan">Jan</option>
                                <option value="Mona">Mona</option>
                                <option value="Lars">Lars</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="student" class="form-label">Student:</label>
                            <select class="form-select" id="student">
                                <option value="ViaId1">333469</option>
                                <option value="ViaId2">333000</option>
                                <option value="ViaId3">222222</option>
                                <option value="ViaId4">111110</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Create Class</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Classes</h5>
                    <div class="subject">
                        <p>SDJ3</p>
                        <p>NES</p>
                        <p>CAO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}