@page "/"
<div>
    <h1 class="text-center mt-5">LOGIN</h1>
</div>
<div class="text-center mt-5">
    <div class="mb-4">
        <label class="mr-2">VIA ID: </label>
        <input style="margin-left: 27px"/>
    </div>
    <div class="mb-5">
        <label>Password: </label>
        <input type="password"/>
    </div>
    <button class="fw-bold" >LOGIN</button>
</div>

@code {
    
}