@page "/SpecificClass"
<h1>SPECIFIC CLASS</h1>
<div class="d-flex">
    <div class="d-flex specific-class">
        <div class="sdj3"><label>SDJ3</label>
            <div class="date">
                <label  >Date & time </label>
                <input/>
                <div class="student">
                    <label for="student">Student:</label>
                    <select name="student" id="student">
                        <option value="ViaId1">333469</option>
                        <option value="ViaId2">333000</option>
                        <option value="ViaId3">222222</option>
                        <option value="ViaId4">111110</option>
                    </select>
                    <br><br>
                </div>

            </div>
        </div>
    </div>
    <div class="d-flex buttons ">
        
        <div >
            <button class="back" >Back</button>
       
            <div >
                <button class="submit" >Submit</button>
       
                <div >
                    <button class="cancel" >Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    
}